<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="color.css">
	<link rel="stylesheet" type="text/css" href="css.css">
	<title>Color</title>
</head>
<body>
	<div class="header-content">
		<div class="header-logo">
			<div class="logo">
				<h1>DeepZer0</h1>
			</div>
			<div class="settings"></div>
		</div>
		<nav class="header-nav">
			<ul class="navbar">
				<li class="overview">Overview
					<div class="highlight"></div>
				</li>
				<li>
					<a href="color.html">Color</a>
				</li>
				<li>Button</li>
				<li>Textfield</li>
				<li>Color</li>
				<li>Button</li>
				<li>Textfield</li>
				<li>Color</li>
				<li>Button</li>
				<li>Textfield</li>
			</ul>
		</nav>
	</div>
</body>
</html>